<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="/styles.css" rel="stylesheet" type="text/css" >
  </head>
  <header><h1> Bitmaker CRM </h1></header>


  <body>
    
      <nav>
            <a class="top_list" href="/">Home</a>
            <a class="top_list" href="/contacts/new">Add a Contact</a>
            <a class="top_list" href="/">About</a>
      </nav>
    <%= yield %>
    <p class="contact_number">There are <strong></strong> contacts</p>
<div class= "contact_list"
    <ul >
    <% Contact.all.each do |contact| %>
      <a href="/contacts/<%=contact.id%>"
      <li class="each_contact"><%= contact.first_name %> <%= contact.last_name %>(<%= contact.email%>)</li></a>
      <a class="edit" href="/contacts/<%=contact.id%>/edit">Edit</a>
      <a class="delete" href="/">Delete</a>
    <% end %>
    </ul>

  </body>
  <footer>
    <p>Copyright Bitmaker 2016 </p>
  </footer>
</html>
